$icomoon-font-path: "fonts" !default;

$icon-logo-path1: \e900;
$icon-logo-path2: \e901;
$icon-logo-path3: \e902;
$icon-logo-path4: \e903;
$icon-logo-path5: \e904;
$icon-logo-path6: \e905;
$icon-logo-path7: \e906;
$icon-logo-path8: \e907;
$icon-logo-path9: \e908;
$icon-arrow: \e909;
$icon-facebook-path1: \e90a;
$icon-facebook-path2: \e90b;
$icon-houzz-path1: \e90c;
$icon-houzz-path2: \e90d;
$icon-instagram-path1: \e90e;
$icon-instagram-path2: \e90f;
$icon-instagram-path3: \e910;
$icon-instagram-path4: \e911;
$icon-search: \e912;
$icon-twitter-path1: \e913;
$icon-twitter-path2: \e914;

